<form
  class="form-horizontal"
  autocomplete="off"
  #editInventoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditInventory' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="inventoryTypeName">
            {{ "InventoryTypeName" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="inventoryTypes"
              name="inventoryTypes"
              [placeholder]="'PleaseSelect' | localize"
              [options]="inventoryTypes"
              [(ngModel)]="inventory.inventoryTypeId"
              (onChange)="
                onSelectedInventoryTypeChange(inventory.inventoryTypeId)
              "
              [filter]="true"
              required
              [style]="{ width: '100%' }"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="quantity">
            {{ "Quantity" | localize }}
          </label>
          <div class="col-md-9">
            <p-inputNumber
              [(ngModel)]="inventory.quantity"
              name="quantity"
              id="quantity"
              required
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [style]="{ width: '100%' }"
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="serialNumber">
            {{ "SerialNumber" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="serialNumber"
              id="serialNumber"
              minlength="0"
              maxlength="50"
              [(ngModel)]="inventory.serialNumber"
              #serialNumberModel="ngModel"
              #serialNumberEl
            />
            <abp-validation-summary
              [control]="serialNumberModel"
              [controlEl]="serialNumberEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
              minlength="0"
              maxlength="500"
              [(ngModel)]="inventory.description"
              #descriptionModel="ngModel"
              #descriptionEl
            />
            <abp-validation-summary
              [control]="descriptionModel"
              [controlEl]="descriptionEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !editInventoryForm.form.valid ||
      saving ||
      !this.permissionHelper.editInventory()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
