<form class="form-horizontal" autocomplete="off" #createOtherPaymentAccountBookForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewOtherPaymentAccountBook' | localize" (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="processDate">
            {{ "ProcessDateTime" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" id="processDate" name="processDate" [placeholder]="'SelectDate' | localize"
              class="form-control" [(ngModel)]="accountBook.processDateTime" bsDatepicker>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="paymentCategoryId">
            {{ "PaymentCategory" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown id="paymentCategories" name="paymentCategories" [placeholder]="'PleaseSelect' | localize"
              [options]="paymentCategories" [(ngModel)]="accountBook.paymentCategoryId" [filter]="true"
              [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="fromPaymentAccountId">
            {{ "FromPaymentAccount" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown id="paymentAccounts" name="paymentAccounts" [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts" [(ngModel)]="accountBook.fromPaymentAccountId" [filter]="true"
              [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="toPaymentAccountId">
            {{ "ToPaymentAccount" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown id="paymentAccounts" name="paymentAccounts" [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts" [(ngModel)]="accountBook.toPaymentAccountId" [filter]="true"
              [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="amount">
            {{ "Amount" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="amount" id="amount" minlength="0" maxlength="10"
              [(ngModel)]="accountBook.amount" #amountModel="ngModel" #amountEl />
            <abp-validation-summary [control]="amountModel" [controlEl]="amountEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="description" id="description" minlength="0" maxlength="500"
              [(ngModel)]="accountBook.description" #descriptionModel="ngModel" #descriptionEl />
            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="documentDateTime">
            {{ "DocumentDateTime" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" id="documentDateTime" name="documentDateTime" [placeholder]="'SelectDate' | localize"
              class="form-control" [(ngModel)]="accountBook.documentDateTime" bsDatepicker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="documentNumber">
            {{ "DocumentNumber" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="documentNumber" id="documentNumber" minlength="0" maxlength="20"
              [(ngModel)]="accountBook.documentNumber" #documentNumberModel="ngModel" #documentNumberEl />
            <abp-validation-summary [control]="documentNumberModel" [controlEl]="documentNumberEl"></abp-validation-summary>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createOtherPaymentAccountBookForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
