<form
  class="form-horizontal"
  autocomplete="off"
  #createOtherPaymentAccountBookForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewOtherPaymentAccountBook' | localize"
    (onCloseClick)="bsModalRef.hide()"
  >
  </abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="processDate">
                  {{ "ProcessDateTime" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="processDate"
                  name="processDate"
                  class="form-control"
                  [placeholder]="'SelectDate' | localize"
                  bsDatepicker
                  [(ngModel)]="processDate"
                  required
                />
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="paymentCategoryId">
                  {{ "PaymentCategory" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  id="paymentCategories"
                  name="paymentCategories"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentCategories"
                  [(ngModel)]="accountBook.paymentCategoryId"
                  (onChange)="onSelectedPaymentCategoryChange(accountBook.paymentCategoryId)"
                  [filter]="true"
                  required
                  [style]="{ width: '100%' }"
                  [disabled]="definedPaymentCategory"
                >
                </p-dropdown>
              </div>
            </div>
            <div
              class="form-group row"
              [ngClass]="isFromPaymentAccountRequired() ? 'required' : ''"
              *ngIf="
                paymentCategoryType === PaymentCategoryTypeEnum.Expense ||
                paymentCategoryType ===
                  PaymentCategoryTypeEnum.TransferBetweenAccounts
              "
            >
              <div class="col-md-10">
                <label for="fromPaymentAccounts">
                  {{ "FromPaymentAccount" | localize }}
                  <span
                    *ngIf="isFromPaymentAccountRequired()"
                    class="text-danger"
                    >*</span
                  >
                </label>
                <p-dropdown
                  id="fromPaymentAccounts"
                  name="fromPaymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="accountBook.fromPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                  [required]="isFromPaymentAccountRequired()"
                >
                </p-dropdown>
              </div>
            </div>
            <div
              class="form-group row"
              [ngClass]="
                (paymentCategoryType === PaymentCategoryTypeEnum.Income ||
                  paymentCategoryType ===
                    PaymentCategoryTypeEnum.TransferBetweenAccounts) === true
                  ? 'required'
                  : ''
              "
              *ngIf="
                paymentCategoryType === PaymentCategoryTypeEnum.Income ||
                paymentCategoryType ===
                  PaymentCategoryTypeEnum.TransferBetweenAccounts
              "
            >
              <div class="col-md-10">
                <label for="housings">
                  {{ "ToPaymentAccount" | localize }}
                </label>
                <p-dropdown
                  id="toPaymentAccounts"
                  name="toPaymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="accountBook.toPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                  [required]="
                    paymentCategoryType === PaymentCategoryTypeEnum.Income ||
                    paymentCategoryType ===
                      PaymentCategoryTypeEnum.TransferBetweenAccounts
                  "
                >
                </p-dropdown>
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="amount">
                  {{ "Amount" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-inputNumber
                  [(ngModel)]="accountBook.amount"
                  name="amount"
                  id="amount"
                  required
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                  [style]="{ width: '100%' }"
                >
                </p-inputNumber>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="description">
                  {{ "Description" | localize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="description"
                  minlength="0"
                  maxlength="500"
                  [(ngModel)]="accountBook.description"
                  #descriptionModel="ngModel"
                  #descriptionEl
                />
                <abp-validation-summary
                  [control]="descriptionModel"
                  [controlEl]="descriptionEl"
                ></abp-validation-summary>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row" *ngIf="accountBook.isHousingDue">
              <div class="col-md-10">
                <label for="people">
                  {{ "Person" | localize }}
                </label>
                <p-dropdown
                  id="people"
                  name="people"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="peopleForHousingDue"
                  (onChange)="onSelectedPersonChange($event)"
                  [disabled]="!isValidPaymentCategory()"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
            </div>
            <div
              class="form-group row required"
              *ngIf="accountBook.isHousingDue"
            >
              <div class="col-md-10">
                <label for="housings">
                  {{ "Housing" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  id="housings"
                  name="housings"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="housings"
                  [(ngModel)]="accountBook.housingId"
                  [disabled]="!isValidPaymentCategory()"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                  required
                >
                </p-dropdown>
              </div>
            </div>
            <div
              class="form-group row"
              *ngIf="
                !definedPaymentCategory ||
                paymentCategoryType === PaymentCategoryTypeEnum.Expense
              "
            >
              <div class="col-md-10">
                <label for="documentDateTime">
                  {{ "DocumentDateTime" | localize }}
                </label>
                <input
                  type="text"
                  id="documentDateTime"
                  name="documentDateTime"
                  [placeholder]="'SelectDate' | localize"
                  class="form-control"
                  [(ngModel)]="accountBook.documentDateTime"
                  bsDatepicker
                />
              </div>
            </div>
            <div
              class="form-group row"
              *ngIf="
                !definedPaymentCategory ||
                paymentCategoryType === PaymentCategoryTypeEnum.Expense
              "
            >
              <div class="col-md-10">
                <label for="documentNumber">
                  {{ "DocumentNumber" | localize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="documentNumber"
                  id="documentNumber"
                  minlength="0"
                  maxlength="20"
                  [(ngModel)]="accountBook.documentNumber"
                  #documentNumberModel="ngModel"
                  #documentNumberEl
                />
                <abp-validation-summary
                  [control]="documentNumberModel"
                  [controlEl]="documentNumberEl"
                ></abp-validation-summary>
              </div>
            </div>
            <div
              class="form-group row mb-0"
              *ngIf="paymentCategoryType === PaymentCategoryTypeEnum.Expense"
            >
              <div class="col-md-10">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="nettingFromHousingDue"
                    id="nettingFromHousingDue"
                    [(ngModel)]="accountBook.nettingFromHousingDue"
                  />
                  <label
                    class="custom-control-label mt-2"
                    for="nettingFromHousingDue"
                  >
                    {{ "NettingFromHousingDue" | localize }}
                  </label>
                  <label>
                    <i>{{
                      "NettingFromHousingDueDescription" | localize
                    }}</i>
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="accountBook.nettingFromHousingDue">
              <div class="form-group row">
                <div class="col-md-10">
                  <label for="people">
                    {{ "Person" | localize }}
                  </label>
                  <p-dropdown
                    id="people"
                    name="people"
                    [placeholder]="'PleaseSelect' | localize"
                    [options]="people"
                    (onChange)="onSelectedPersonForNettingChange($event)"
                    [filter]="true"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group row required">
                <div class="col-md-10">
                  <label for="housings">
                    {{ "Housing" | localize }}
                    <span class="text-danger">*</span>
                  </label>
                  <p-dropdown
                    id="housings"
                    name="housings"
                    [placeholder]="'PleaseSelect' | localize"
                    [options]="housingsForNetting"
                    [(ngModel)]="accountBook.housingIdForNetting"
                    (onChange)="onSelectedHousingForNettingChange($event)"
                    [filter]="true"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                    required
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group row required">
                <div class="col-md-10">
                  <label for="housings">
                    {{ "PaymentCategoryForNetting" | localize }}
                    <span class="text-danger">*</span>
                  </label>
                  <p-dropdown
                    id="paymentCategoryForNetting"
                    name="paymentCategoryForNetting"
                    [placeholder]="'PleaseSelect' | localize"
                    [options]="paymentCategoriesForNetting"
                    [(ngModel)]="accountBook.paymentCategoryIdForNetting"
                    [filter]="true"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                    required
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Images' | localize" class="pt-3 px-2">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "UploadFile" | localize }}
          </label>
          <div class="col-md-9">
            <p-fileUpload
              #fileUpload
              name="myFile[]"
              maxFileSize="1000000000"
              customUpload="true"
              accept="image/*"
              multiple="multiple"
              auto="auto"
              [chooseLabel]="l('ChooseFile')"
              (uploadHandler)="uploadHandler($event)"
            >
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFileUrls.length">
                  <li *ngFor="let file of uploadedFileUrls">{{ file.name }}</li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createOtherPaymentAccountBookForm.form.valid ||
      saving ||
      !this.permissionHelper.createAccountBook()
    "
    (onCancelClick)="bsModalRef.hide()"
    [saveLabel]="saveLabel"
  ></abp-modal-footer>
</form>
