<form
  class="form-horizontal"
  autocomplete="off"
  #createOtherPaymentAccountBookForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewOtherPaymentAccountBook' | localize"
    (onCloseClick)="bsModalRef.hide()"
  >
  </abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="processDate">
                  {{ "ProcessDateTime" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="processDate"
                  name="processDate"
                  [placeholder]="'SelectDate' | localize"
                  class="form-control"
                  [(ngModel)]="accountBook.processDateTime"
                  bsDatepicker
                  required
                />
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="paymentCategoryId">
                  {{ "PaymentCategory" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  id="paymentCategories"
                  name="paymentCategories"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentCategories"
                  [(ngModel)]="accountBook.paymentCategoryId"
                  [filter]="true"
                  required
                  [style]="{ width: '100%' }"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="fromPaymentAccountId">
                  {{ "FromPaymentAccount" | localize }}
                </label>
                <p-dropdown
                  id="paymentAccounts"
                  name="paymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="accountBook.fromPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="toPaymentAccountId">
                  {{ "ToPaymentAccount" | localize }}
                </label>
                <p-dropdown
                  id="paymentAccounts"
                  name="paymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="accountBook.toPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="amount">
                  {{ "Amount" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="amount"
                  id="amount"
                  minlength="0"
                  maxlength="10"
                  required
                  [(ngModel)]="accountBook.amount"
                  #amountModel="ngModel"
                  #amountEl
                />
                <abp-validation-summary
                  [control]="amountModel"
                  [controlEl]="amountEl"
                ></abp-validation-summary>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-10">
                <label for="description">
                  {{ "Description" | localize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="description"
                  minlength="0"
                  maxlength="500"
                  [(ngModel)]="accountBook.description"
                  #descriptionModel="ngModel"
                  #descriptionEl
                />
                <abp-validation-summary
                  [control]="descriptionModel"
                  [controlEl]="descriptionEl"
                ></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="documentDateTime">
                  {{ "DocumentDateTime" | localize }}
                </label>
                <input
                  type="text"
                  id="documentDateTime"
                  name="documentDateTime"
                  [placeholder]="'SelectDate' | localize"
                  class="form-control"
                  [(ngModel)]="accountBook.documentDateTime"
                  bsDatepicker
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="documentNumber">
                  {{ "DocumentNumber" | localize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="documentNumber"
                  id="documentNumber"
                  minlength="0"
                  maxlength="20"
                  [(ngModel)]="accountBook.documentNumber"
                  #documentNumberModel="ngModel"
                  #documentNumberEl
                />
                <abp-validation-summary
                  [control]="documentNumberModel"
                  [controlEl]="documentNumberEl"
                ></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-10">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="encachmentFromHousingDue"
                    id="encachmentFromHousingDue"
                    [(ngModel)]="accountBook.encachmentFromHousingDue"
                  />
                  <label
                    class="custom-control-label mt-2"
                    for="encachmentFromHousingDue"
                  >
                    {{ "EncachmentFromHousingDue" | localize }}
                  </label>
                  <label>
                    <i>{{
                      "EncachmentFromHousingDueDescription" | localize
                    }}</i>
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="accountBook.encachmentFromHousingDue">
              <div class="form-group row">
                <div class="col-md-10">
                  <label for="people">
                    {{ "Person" | localize }}
                  </label>
                  <p-dropdown
                    id="people"
                    name="people"
                    [placeholder]="'PleaseSelect' | localize"
                    [options]="people"
                    (onChange)="onSelectedPersonChange($event)"
                    [filter]="true"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="form-group row required">
                <div class="col-md-10">
                  <label for="housings">
                    {{ "Housing" | localize }}
                    <span class="text-danger">*</span>
                  </label>
                  <p-dropdown
                    id="housings"
                    name="housings"
                    [placeholder]="'PleaseSelect' | localize"
                    [options]="housings"
                    [(ngModel)]="accountBook.housingIdForEncachment"
                    [filter]="true"
                    [style]="{ width: '100%' }"
                    required
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-md-12">
                <label for="fileUpload">
                  {{ "UploadFile" | localize }}
                </label>
                <p-fileUpload
                  #fileUpload
                  name="fileUpload"
                  maxFileSize="1000000000"
                  customUpload="true"
                  accept="image/*"
                  multiple="multiple"
                  auto="auto"
                  [chooseLabel]="l('ChooseFile')"
                  (uploadHandler)="uploadHandler($event)"
                >
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFileUrls.length">
                      <li *ngFor="let file of uploadedFileUrls">
                        {{ file.name }}
                      </li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createOtherPaymentAccountBookForm.form.valid ||
      saving ||
      !this.permissionHelper.createAccountBook()
    "
    (onCancelClick)="bsModalRef.hide()"
    [saveLabel]="saveLabel"
  ></abp-modal-footer>
</form>
