<form
  class="form-horizontal"
  autocomplete="off"
  #createHousingDueAccountBookForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewHousingDueAccountBook' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="processDate">
            {{ "ProcessDateTime" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              id="processDate"
              name="processDate"
              class="form-control"
              [placeholder]="'SelectDate' | localize"
              bsDatepicker
              [(ngModel)]="processDate"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="people">
            {{ "Person" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="people"
              name="people"
              [placeholder]="'PleaseSelect' | localize"
              [options]="people"
              (onChange)="onSelectedPersonChange($event)"
              [filter]="true"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="housings">
            {{ "Housing" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="housings"
              name="housings"
              [placeholder]="'PleaseSelect' | localize"
              [options]="housings"
              [(ngModel)]="accountBook.housingId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="paymentAccountId">
            {{ "PaymentAccount" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="paymentAccounts"
              name="paymentAccounts"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts"
              [(ngModel)]="accountBook.toPaymentAccountId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="amount">
            {{ "Amount" | localize }}
          </label>
          <div class="col-md-9">
            <p-inputNumber
              [(ngModel)]="accountBook.amount"
              name="amount"
              id="amount"
              required
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [style]="{ width: '100%' }"
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
              minlength="0"
              maxlength="500"
              [(ngModel)]="accountBook.description"
              #descriptionModel="ngModel"
              #descriptionEl
            />
            <abp-validation-summary
              [control]="descriptionModel"
              [controlEl]="descriptionEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
      <tab [heading]="'Images' | localize" class="pt-3 px-2">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "UploadFile" | localize }}
          </label>
          <div class="col-md-9">
            <p-fileUpload
              #fileUpload
              name="myFile[]"
              maxFileSize="1000000000"
              customUpload="true"
              accept="image/*"
              multiple="multiple"
              auto="auto"
              [chooseLabel]="l('ChooseFile')"
              (uploadHandler)="uploadHandler($event)"
            >
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFileUrls.length">
                  <li *ngFor="let file of uploadedFileUrls">{{ file.name }}</li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createHousingDueAccountBookForm.form.valid ||
      saving ||
      !this.permissionHelper.createAccountBook()
    "
    (onCancelClick)="bsModalRef.hide()"
    [saveLabel]="saveLabel"
  ></abp-modal-footer>
</form>
