<form
  class="form-horizontal"
  autocomplete="off"
  #createHousingForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewHousing' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="block">
            {{ "Block" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="blocks"
              name="blocks"
              [options]="blocks"
              [placeholder]="'PleaseSelect' | localize"
              [(ngModel)]="housing.blockId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="apartment">
            {{ "Apartment" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="apartment"
              id="apartment"
              minlength="0"
              maxlength="50"
              [(ngModel)]="housing.apartment"
              #apartmentModel="ngModel"
              #apartmentEl
            />
            <abp-validation-summary
              [control]="apartmentModel"
              [controlEl]="apartmentEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            {{ "TenantIsResiding" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="tenantIsResiding"
                id="tenantIsResiding"
                [(ngModel)]="housing.tenantIsResiding"
              />
              <label
                class="custom-control-label mt-2"
                for="tenantIsResiding"
              ></label>
            </div>
          </div>
        </div>        
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="apartment">
            {{ "HousingCategory" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="housingCategories"
              name="housingCategories"
              [options]="housingCategories"
              [placeholder]="'PleaseSelect' | localize"
              [(ngModel)]="housing.housingCategoryId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div>
        <hr />
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="amount">
            {{ "TransferBalance" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="amount"
              id="amount"
              minlength="0"
              maxlength="10"
              [(ngModel)]="housing.createTransferForHousingDue.amount"
            />
          </div>
        </div>
        <div *ngIf="housing.createTransferForHousingDue.amount > 0">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="date">
              {{ "TransferDate" | localize }}
            </label>
            <div class="col-md-9">
              <input
                required
                class="form-control m-input"
                type="datetime"
                bsDatepicker
                [(ngModel)]="housing.createTransferForHousingDue.date"
                [bsValue]="dateForDatepicker.toDate()"
                id="date"
                name="date"
                [bsConfig]="{
                  adaptivePosition: true,
                  customTodayClass: 'datepicker-today-class',
                  showWeekNumbers: false
                }"
              />
            </div>
          </div>
          <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label" for="isDebt">
              {{ "IsDebtText" | localize }}
            </label>
            <div class="col-md-9">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="isDebt"
                  id="isDebt"
                  [(ngModel)]="housing.createTransferForHousingDue.isDebt"
                />
                <label class="custom-control-label mt-2" for="isDebt"></label>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createHousingForm.form.valid ||
      saving ||
      !this.permissionHelper.createHousing()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
