<form
  class="form-horizontal"
  autocomplete="off"
  #editAccountBookForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditAccountBook' | localize"
    (onCloseClick)="bsModalRef.hide()"
  >
  </abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="processDate">
                  {{ "ProcessDateTime" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="processDate"
                  name="processDate"
                  class="form-control"
                  [placeholder]="'SelectDate' | localize"
                  bsDatepicker
                  [(ngModel)]="processDate"
                  required
                />
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="paymentCategoryId">
                  {{ "PaymentCategory" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  id="paymentCategories"
                  name="paymentCategories"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentCategories"
                  [(ngModel)]="accountBook.paymentCategoryId"
                  [filter]="true"
                  required
                  [style]="{ width: '100%' }"
                >
                </p-dropdown>
              </div>
            </div>
            <div
              class="form-group row required"
              *ngIf="
                paymentCategory.paymentCategoryType ===
                  PaymentCategoryTypeEnum.Expense ||
                paymentCategory.paymentCategoryType ===
                  PaymentCategoryTypeEnum.TransferBetweenAccounts
              "
            >
              <div class="col-md-10">
                <label for="fromPaymentAccounts">
                  {{ "FromPaymentAccount" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  id="fromPaymentAccounts"
                  name="fromPaymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="accountBook.fromPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  required
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
            </div>
            <div
              class="form-group row required"
              *ngIf="
                paymentCategory.paymentCategoryType ===
                  PaymentCategoryTypeEnum.Income ||
                paymentCategory.paymentCategoryType ===
                  PaymentCategoryTypeEnum.TransferBetweenAccounts
              "
            >
              <div class="col-md-10">
                <label for="toPaymentAccounts">
                  {{ "ToPaymentAccount" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  id="toPaymentAccounts"
                  name="toPaymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="accountBook.toPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  required
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="form-group row required">
              <div class="col-md-10">
                <label for="amount">
                  {{ "Amount" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-inputNumber
                  [(ngModel)]="accountBook.amount"
                  name="amount"
                  id="amount"
                  required
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                  [style]="{ width: '100%' }"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-10">
                <label for="description">
                  {{ "Description" | localize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="description"
                  minlength="0"
                  maxlength="500"
                  [(ngModel)]="accountBook.description"
                  #descriptionModel="ngModel"
                  #descriptionEl
                />
                <abp-validation-summary
                  [control]="descriptionModel"
                  [controlEl]="descriptionEl"
                ></abp-validation-summary>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="documentDateTime">
                  {{ "DocumentDateTime" | localize }}
                </label>
                <input
                  type="text"
                  id="documentDateTime"
                  name="documentDateTime"
                  [placeholder]="'SelectDate' | localize"
                  class="form-control"
                  [(ngModel)]="accountBook.documentDateTime"
                  bsDatepicker
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10">
                <label for="documentNumber">
                  {{ "DocumentNumber" | localize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="documentNumber"
                  id="documentNumber"
                  minlength="0"
                  maxlength="20"
                  [(ngModel)]="accountBook.documentNumber"
                  #documentNumberModel="ngModel"
                  #documentNumberEl
                />
                <abp-validation-summary
                  [control]="documentNumberModel"
                  [controlEl]="documentNumberEl"
                ></abp-validation-summary>
              </div>
            </div>
            <div *ngIf="accountBook.encashmentHousing">
              <div class="form-group row">
                <div class="col-md-10">
                  <label>
                    {{ "EncashmentHousingText" | localize }}
                  </label>
                  <span>{{ " " + encashmentHousingText }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Images' | localize" class="pt-3 px-2">
        <div class="row">
          <div class="col-md-6" style="border-right: 1px dashed #333">
            <div class="form-group row mb-0">
              <div class="col-md-12">
                <div class="row">
                  <label for="fileUpload">
                    {{ "UploadNewFile" | localize }}
                  </label>
                </div>
                <div class="row">
                  <p>
                    <em>{{ "UploadFileWarning" | localize }}</em>
                  </p>
                </div>
                <p-fileUpload
                  #fileUpload
                  name="fileUpload"
                  maxFileSize="1000000000"
                  customUpload="true"
                  accept="image/*"
                  multiple="multiple"
                  auto="false"
                  [chooseLabel]="l('ChooseFile')"
                  (uploadHandler)="uploadHandler($event)"
                >
                  <ng-template pTemplate="content">
                    <ul *ngIf="newUploadedFileUrls.length">
                      <li
                        *ngFor="let file of newUploadedFileUrls; let i = index"
                      >
                        <div class="form-group row">
                          <div class="col-md-12">
                            <img
                              [id]="'img_' + i"
                              [src]="file"
                              [height]="75"
                              (click)="showImages(file)"
                            />
                          </div>
                        </div>
                      </li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row mb-0">
              <div class="col-md-12">
                <label for="fileUpload">
                  {{ "ExistingFiles" | localize }}
                </label>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-12">
                <ng-container
                  *ngFor="
                    let accountBookFile of accountBook.accountBookFiles;
                    let i = index
                  "
                >
                  <div class="form-group row" style="align-items: center">
                    <div class="col-md-6">
                      <img
                        [id]="'img_' + i"
                        [src]="accountBookFile.fileUrl"
                        [height]="75"
                        (click)="showImages(accountBookFile.fileUrl)"
                      />
                    </div>
                    <div class="col-md-6">
                      <button
                        type="button"
                        class="btn btn-sm bg-danger mx-2"
                        (click)="delete(accountBookFile)"
                      >
                        <i class="fas fa-trash"></i>
                        {{ "DeleteImage" | localize }}
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !editAccountBookForm.form.valid ||
      saving ||
      !this.permissionHelper.editAccountBook()
    "
    (onCancelClick)="bsModalRef.hide()"
    [saveLabel]="saveLabel"
  ></abp-modal-footer>
</form>

<p-galleria
  [(value)]="clickedImages"
  [(visible)]="display"
  [responsiveOptions]="responsiveOptions2"
  [containerStyle]="{ 'max-width': '660px' }"
  [numVisible]="9"
  [circular]="false"
  [fullScreen]="true"
  [showItemNavigators]="false"
  [baseZIndex]="100000"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item"
      style="width: 100%; display: block; max-width: 660px; max-height: 660px"
    />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img
        [src]="item"
        style="display: block"
        style="max-width: 50px; max-height: 50px"
      />
    </div>
  </ng-template>
</p-galleria>
