<form
  class="form-horizontal"
  autocomplete="off"
  #housingPeopleForm="ngForm"
>
  <abp-modal-header
    [title]="'People' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row readonly">
          <label class="col-md-3 col-form-label" for="block">
            {{ "Block" | localize }}
          </label>
          <div class="col-md-9">
            <label class="col-md-3 col-form-label">
              {{ block.blockName }}
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="apartment">
            {{ "Apartment" | localize }}
          </label>
          <div class="col-md-9">
            <label class="col-md-3 col-form-label">
              {{ housing.apartment }}
            </label>
          </div>
        </div>

        <section class="content px-2">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body table-responsive p-0">
                <p-table
                #dataTable
                class="table table-striped table-bordered"
                [value]="housingPeople"
                [resizableColumns]="true"
                [autoLayout]="true"
                [busy]="isTableLoading"
                (onLazyLoad)="getData($event)"
                [lazy]="true"
                [loading]="isTableLoading"
                [paginator]="true" 
                [rows]="10" 
                [totalRecords]="totalRecords"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="person.firstName">
                      {{ "FirstName" | localize }}
                      <p-sortIcon field="person.firstName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="person.lastName">
                      {{ "LastName" | localize }}
                      <p-sortIcon field="person.lastName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="IsTenant">
                      {{ "IsTenant" | localize }}
                      <p-sortIcon field="IsTenant"></p-sortIcon>
                    </th>                    
                    <th pSortableColumn="person.phone1">
                      {{ "Phone1" | localize }}
                      <p-sortIcon field="person.phone1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="person.phone2">
                      {{ "Phone2" | localize }}
                      <p-sortIcon field="person.phone2"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Contact">
                      {{ "ContactText" | localize }}
                      <p-sortIcon field="Contact"></p-sortIcon>
                    </th>  
                    <th>{{ "Actions" | localize }}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-housingPerson>
                  <tr>
                    <td>{{ housingPerson.person.firstName }}</td>
                    <td>{{ housingPerson.person.lastName }}</td>
                    <td>{{ housingPerson.isTenant.toString() | localize }}</td>
                    <td>{{ housingPerson.person.phone1 }}</td>
                    <td>{{ housingPerson.person.phone2 }}</td>
                    <td>{{ housingPerson.contact.toString() | localize }}</td>
                    <td>
                      <button
                        type="button"
                        *ngIf="this.permissionHelper.deletePerson()"
                        class="btn btn-sm bg-danger mx-2"
                        (click)="delete(housingPerson, $event)"
                      >
                        <i class="fas fa-trash"></i>
                        {{ "RemovePerson" | localize }}
                      </button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <p class="mb-0 my-2">
                    {{ "TotalRecordsCount" | localize: totalRecords }}
                  </p>
                </ng-template>
              </p-table>
              </div>
            </div>
          </div>
        </section>
      </tab>
    </tabset>
  </div>
</form>
