<form
  class="form-horizontal"
  autocomplete="off"
  #createHousingCategoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewHousingCategory' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="housingCategoryName">
            {{ "HousingCategoryName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="block"
              id="block"
              minlength="0"
              maxlength="50"
              [(ngModel)]="housingCategory.housingCategoryName"
              #housingCategoryNameModel="ngModel"
              #housingCategoryNameEl
            />
            <abp-validation-summary
              [control]="housingCategoryNameModel"
              [controlEl]="housingCategoryNameEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createHousingCategoryForm.form.valid ||
      saving ||
      !this.permissionHelper.createHousingCategory()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
