<form
  class="form-horizontal"
  autocomplete="off"
  #createPaymentAccountForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="
      'CreateNew' + paymentAccountTypeEnum[this.paymentAccountType] | localize
    "
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="accountName">
            {{ "AccountName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="accountName"
              id="accountName"
              required
              minlength="0"
              maxlength="50"
              [(ngModel)]="paymentAccount.accountName"
              #accountNameModel="ngModel"
              #accountNameEl
            />
            <abp-validation-summary
              [control]="accountNameModel"
              [controlEl]="accountNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
              minlength="0"
              maxlength="500"
              [(ngModel)]="paymentAccount.description"
              #descriptionModel="ngModel"
              #descriptionEl
            />
            <abp-validation-summary
              [control]="descriptionModel"
              [controlEl]="descriptionEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div
          *ngIf="paymentAccountType != paymentAccountTypeEnum.Cash"
          class="form-group row"
        >
          <label class="col-md-3 col-form-label" for="iban">
            {{ "Iban" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="iban"
              id="iban"
              minlength="0"
              maxlength="50"
              [(ngModel)]="paymentAccount.iban"
              #ibanModel="ngModel"
              #ibanEl
            />
            <abp-validation-summary
              [control]="ibanModel"
              [controlEl]="ibanEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "IsDefaultPaymentAccount" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="isDefault"
                id="isDefault"
                [(ngModel)]="paymentAccount.isDefault"
              />
              <label class="custom-control-label mt-2" for="isDefault"></label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "TenantIsOwner" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="tenantIsOwner"
                id="tenantIsOwner"
                [(ngModel)]="paymentAccount.tenantIsOwner"
              />
              <label
                class="custom-control-label mt-2"
                for="tenantIsOwner"
              ></label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "AllowNegativeBalance" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="allowNegativeBalance"
                id="allowNegativeBalance"
                [(ngModel)]="paymentAccount.allowNegativeBalance"
              />
              <label
                class="custom-control-label mt-2"
                for="allowNegativeBalance"
              ></label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-12 col-form-label">
            {{ "TenantIsOwnerDescription" | localize }}
          </label>
        </div>
        <hr />
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="amount">
            {{ "TransferBalance" | localize }}
          </label>
          <div class="col-md-9">
            <p-inputNumber
              [(ngModel)]="paymentAccount.transferAmount"
              name="amount"
              id="amount"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [style]="{'width':'100%'}"
            >
            </p-inputNumber>
          </div>
        </div>
        <div *ngIf="paymentAccount.transferAmount > 0">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="date">
              {{ "TransferDate" | localize }}
            </label>
            <div class="col-md-9">
              <input
                required
                class="form-control m-input"
                type="datetime"
                bsDatepicker
                [(ngModel)]="paymentAccount.firstTransferDateTime"
                id="date"
                name="date"
              />
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createPaymentAccountForm.form.valid ||
      saving ||
      !this.permissionHelper.createPaymentAccount()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
