<form
  class="form-horizontal"
  autocomplete="off"
  #editPaymentCategoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditPaymentCategory' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="paymentCategoryName">
            {{ "PaymentCategoryName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="paymentCategoryName"
              id="paymentCategoryName"
              minlength="0"
              maxlength="50"
              [(ngModel)]="paymentCategory.paymentCategoryName"
              [disabled]="paymentCategory.isHousingDue"
              #paymentCategoryNameModel="ngModel"
              #paymentCategoryNameEl
            />
            <abp-validation-summary
              [control]="paymentCategoryNameModel"
              [controlEl]="paymentCategoryNameEl"
            ></abp-validation-summary>
          </div>
        </div>
          <div class="form-group row mb-0">
              <label class="col-md-3 col-form-label">
                  {{ "IsValidForAllPeriods" | localize }}
              </label>
              <div class="col-md-9">
                  <div class="custom-control custom-checkbox">
                      <input
                              type="checkbox"
                              class="custom-control-input"
                              name="isValidForAllPeriods"
                              id="isValidForAllPeriods"
                              [(ngModel)]="paymentCategory.isValidForAllPeriods"
                      />
                      <label
                              class="custom-control-label mt-2"
                              for="isValidForAllPeriods"
                      ></label>
                  </div>
              </div>
          </div>
          <div class="form-group row mb-0">
              <label class="col-md-3 col-form-label">
                  {{ "IsActive" | localize }}
              </label>
              <div class="col-md-9">
                  <div class="custom-control custom-checkbox">
                      <input
                              type="checkbox"
                              class="custom-control-input"
                              name="isActive"
                              id="isActive"
                              [(ngModel)]="paymentCategory.isActive"
                      />
                      <label
                              class="custom-control-label mt-2"
                              for="isActive"
                      ></label>
                  </div>
              </div>
          </div>
        <div
          class="form-group row required"
          *ngIf="
          paymentCategory.paymentCategoryType === PaymentCategoryTypeEnum.Expense ||
          paymentCategory.paymentCategoryType ===
              PaymentCategoryTypeEnum.TransferBetweenAccounts
          "
        >          <label class="col-md-3 col-form-label" for="fromPaymentAccountId">
            {{ "DefaultFromPaymentAccount" | localize }}
          </label>
          <div class="col-md-6 pr-4">
            <p-dropdown
              id="fromPaymentAccounts"
              name="fromPaymentAccounts"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts"
              [(ngModel)]="paymentCategory.defaultFromPaymentAccountId"
              [filter]="true"
              [style]="{ width: '100%' }"
            >
            </p-dropdown>
          </div>
          <div class="col-md-3">
            <span class="btn btn-danger">
              <i
                class="fas fa-trash-alt"
                (click)="paymentCategory.defaultFromPaymentAccountId = null"
              ></i>
            </span>
          </div>
        </div>
        <div
          class="form-group row required"
          *ngIf="
            paymentCategory.paymentCategoryType === PaymentCategoryTypeEnum.Income ||
            paymentCategory.paymentCategoryType ===
              PaymentCategoryTypeEnum.TransferBetweenAccounts
          "
        >          <label class="col-md-3 col-form-label" for="toPaymentAccountId">
            {{ "DefaultToPaymentAccount" | localize }}
          </label>
          <div class="col-md-6 pr-4">
            <p-dropdown
              id="toPaymentAccounts"
              name="toPaymentAccounts"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts"
              [(ngModel)]="paymentCategory.defaultToPaymentAccountId"
              [filter]="true"
              [style]="{ width: '100%' }"
            >
            </p-dropdown>
          </div>
          <div class="col-md-3">
            <span class="btn btn-danger">
              <i
                class="fas fa-trash-alt"
                (click)="paymentCategory.defaultToPaymentAccountId = null"
              ></i>
            </span>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !editPaymentCategoryForm.form.valid ||
      saving ||
      !this.permissionHelper.editPaymentCategory()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
