<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "PaymentCategories" | localize }}</h1>
        </div>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>

        <div
          class="col-6 text-right"
          *ngIf="this.permissionHelper.createPaymentCategory()"
        >
          <button
            type="button"
            class="btn bg-blue"
            pButton
            icon="fa fa-arrow-down"
            [label]="'Create' | localize"
            (click)="menu.toggle($event)"
          ></button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-append">
              <button
                type="button"
                class="btn bg-blue"
                (click)="advancedFiltersVisible = !advancedFiltersVisible"
              >
                {{ "AdvancedFilters" | localize }}
                <i
                  class="fas"
                  [class.fa-angle-up]="advancedFiltersVisible"
                  [class.fa-angle-down]="!advancedFiltersVisible"
                ></i>
              </button>
            </div>
          </div>
          <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
            <div class="card-body">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "PaymentCategories" | localize }}
                      </label>
                      <p-autoComplete
                        name="selectedPaymentCategoryFilter"
                        [(ngModel)]="selectedPaymentCategoryFilter"
                        [suggestions]="paymentCategoriesFilter"
                        (completeMethod)="searchPaymentCategory($event)"
                        [style]="{ minWidth: '100%' }"
                      ></p-autoComplete>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    name="isPassive"
                                    id="isPassive"
                                    [(ngModel)]="isPassive"
                            />
                            <label class="custom-control-label mt-2" for="isPassive">Etkin olmayanları göster</label>
                        </div>
                    </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn bg-blue"
                (click)="getDataPage(1)"
              >
                {{ "Search" | localize }}
              </button>
              <button
                type="button"
                class="btn btn-default float-right"
                (click)="clearFilters()"
              >
                {{ "Clear" | localize }}
              </button>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <p-table
            #dataTable
            class="table table-striped table-bordered"
            [value]="paymentCategories"
            [resizableColumns]="true"
            [autoLayout]="true"
            [busy]="isTableLoading"
            (onLazyLoad)="getData($event)"
            [lazy]="true"
            [loading]="isTableLoading"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="PaymentCategoryName">
                  {{ "PaymentCategoryName" | localize }}
                  <p-sortIcon field="PaymentCategoryName"></p-sortIcon>
                </th>
                <th>
                  {{ "IsValidForAllPeriods" | localize }}
                </th>
                <th pSortableColumn="DefaultFromPaymentAccount">
                  {{ "DefaultFromPaymentAccount" | localize }}
                  <p-sortIcon field="DefaultFromPaymentAccount"></p-sortIcon>
                </th>
                <th pSortableColumn="DefaultToPaymentAccount">
                  {{ "DefaultToPaymentAccount" | localize }}
                  <p-sortIcon field="DefaultToPaymentAccount"></p-sortIcon>
                </th>
                <th pSortableColumn="IsHousingDue">
                  {{ "IsHousingDue" | localize }}
                  <p-sortIcon field="IsHousingDue"></p-sortIcon>
                </th>
                <th
                  *ngIf="
                    this.permissionHelper.editPaymentCategory() ||
                    this.permissionHelper.deletePaymentCategory()
                  "
                >
                  {{ "Actions" | localize }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              ngFor
              let-paymentCategory
              [ngForOf]="
                paymentCategories
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      }
              "
            >
              <tr>
                <td>{{ paymentCategory.paymentCategoryName | localize }}</td>
                <td>
                  {{ paymentCategory.isValidForAllPeriods | localize }}
                </td>
                <td>
                  {{ paymentCategory.defaultFromPaymentAccountName | localize }}
                </td>
                <td>
                  {{ paymentCategory.defaultToPaymentAccountName | localize }}
                </td>
                <td>
                  {{ paymentCategory.isHousingDue | localize }}
                </td>
                <td>
                  <button
                    type="button"
                    *ngIf="this.permissionHelper.editPaymentCategory()"
                    class="btn btn-sm bg-secondary"
                    (click)="editPaymentCategory(paymentCategory)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" | localize }}
                  </button>
                  <button
                    type="button"
                    *ngIf="
                      this.permissionHelper.deletePaymentCategory() &&
                      paymentCategory.editInAccountBook
                    "
                    class="btn btn-sm bg-danger mx-2"
                    (click)="delete(paymentCategory)"
                  >
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
