<form
  class="form-horizontal"
  autocomplete="off"
  #createHousingPaymentPlanGroupForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewHousingPaymentPlanGroup' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="apartment">
            {{ "HousingPaymentPlanGroupName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="housingPaymentPlanGroupName"
              id="housingPaymentPlanGroupName"
              minlength="0"
              maxlength="50"
              [(ngModel)]="input.housingPaymentPlanGroupName"
              #housingPaymentPlanGroupNameModel="ngModel"
              #housingPaymentPlanGroupNameEl
            />
            <abp-validation-summary
              [control]="housingPaymentPlanGroupNameModel"
              [controlEl]="housingPaymentPlanGroupNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <!-- <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="housingCategoryId">
            {{ "PaymentCategory" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="paymentCategories"
              name="paymentCategories"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentCategories"
              [(ngModel)]="input.paymentCategoryId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div> -->
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="startDate">
            {{ "StartDate" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              id="startDate"
              name="startDate"
              [placeholder]="'SelectDate' | localize"
              class="form-control"
              [(ngModel)]="startDate"
              bsDatepicker
              required
            />
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="residentOrOwner">
            {{ "ResidentOrOwner" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="residentOrOwner"
              name="residentOrOwner"
              [placeholder]="'PleaseSelect' | localize"
              [options]="residentOrOwners"
              [(ngModel)]="input.residentOrOwner"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="paymentAccounts">
            {{ "DefaultToPaymentAccount" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown
              id="paymentAccounts"
              name="paymentAccounts"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts"
              [(ngModel)]="input.defaultToPaymentAccountId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="countOfMonth">
            {{ "CountOfMonth" | localize }}
          </label>
          <div class="col-md-9">
            <p-inputNumber
              [(ngModel)]="input.countOfMonth"
              name="countOfMonth"
              id="countOfMonth"
              [style]="{ width: '100%' }"
              required
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="paymentDayOfMonth">
            {{ "PaymentDayOfMonth" | localize }}
          </label>
          <div class="col-md-9">
            <p-inputNumber
              [(ngModel)]="input.paymentDayOfMonth"
              name="paymentDayOfMonth"
              id="paymentDayOfMonth"
              min="1"
              max="31"
              [style]="{ width: '100%' }"
              required
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
              minlength="0"
              maxlength="500"
              [(ngModel)]="input.description"
              #descriptionModel="ngModel"
              #descriptionEl
            />
            <abp-validation-summary
              [control]="descriptionModel"
              [controlEl]="descriptionEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="border border-primary p-3" *ngIf="showCategory">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <label>
                {{ "AmountPerHousingCategory" | localize }}
              </label>
            </div>
          </div>
          <div
            class="form-group row"
            *ngFor="
              let item of input.housingPaymentPlanGroupForHousingCategories;
              let index = index
            "
          >
            <label class="col-md-3 col-form-label" for="description">
              {{ getHousingCategoryName(item.housingCategoryId) }}
            </label>
            <div class="col-md-9">
              <p-inputNumber
                [(ngModel)]="item.amountPerMonth"
                name="amountPerMonth"
                id="amountPerMonth"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                [style]="{ width: '100%' }"
              >
              </p-inputNumber>
            </div>
          </div>
        </div>
        <div class="form-group row required" *ngIf="showCategory === false">
          <label class="col-md-3 col-form-label" for="housings">
            {{ "Housing" | localize }}
          </label>
          <div class="col-md-9">
            <p-multiSelect
              name="housings"
              [options]="housings"
              [showToggleAll]="false"
              [(ngModel)]="selectedHousings"
              [virtualScroll]="true"
              [filter]="true"
              [itemSize]="34"
              [defaultLabel]="l('Housing')"
              class="multiselect-custom-virtual-scroll"
              [style]="{ minWidth: '100%' }"
              required
            >
              <ng-template let-housing pTemplate="item">
                <div class="housing-item">
                  <div>{{ housing.label }}</div>
                </div>
              </ng-template>
            </p-multiSelect>
          </div>
        </div>
        <div class="form-group row required" *ngIf="showCategory === false">
          <label class="col-md-3 col-form-label" for="housings">
            {{ "AmountPerMonth" | localize }}
          </label>
          <div class="col-md-9">
            <p-inputNumber
              [(ngModel)]="amountPerMonthForHousing"
              name="amountPerMonthForHousing"
              id="amountPerMonthForHousing"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [style]="{ width: '100%' }"
              required
            >
            </p-inputNumber>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createHousingPaymentPlanGroupForm.valid ||
      saving ||
      !this.permissionHelper.createHousingPaymentPlanGroup()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
