<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "CreateNewPeriod" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <form
          class="form-horizontal"
          autocomplete="off"
          #createPeriodForm="ngForm"
          (ngSubmit)="save()"
        >
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group required">
                  <label class="col-form-label" for="name">
                    {{ "Name" | localize }}
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    required
                    minlength="0"
                    maxlength="50"
                    [(ngModel)]="period.name"
                    #nameModel="ngModel"
                    #nameEl
                  />
                  <abp-validation-summary
                    [control]="nameModel"
                    [controlEl]="nameEl"
                  ></abp-validation-summary>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group required">
                  <label class="col-form-label" for="startDate">
                    {{ "StartDate" | localize }}
                  </label>
                  <input
                    type="text"
                    id="startDate"
                    name="startDate"
                    class="form-control"
                    [placeholder]="'SelectDate' | localize"
                    bsDatepicker
                    [(ngModel)]="period.startDate"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="paymentCategoriesFilter">
                    {{ "PaymentCategoriesForTransfer" | localize }}
                  </label>
                  <p-multiSelect
                    name="paymentCategoriesFilter"
                    [options]="paymentCategoriesFilter"
                    [showToggleAll]="false"
                    [(ngModel)]="selectedPaymentCategoriesFilter"
                    [virtualScroll]="true"
                    [filter]="true"
                    [itemSize]="34"
                    [defaultLabel]="l('PaymentCategory')"
                    class="multiselect-custom-virtual-scroll"
                    [style]="{ minWidth: '100%' }"
                  >
                    <ng-template let-paymentCategory pTemplate="item">
                      <div class="paymentCategory-item">
                        <div>{{ paymentCategory.label }}</div>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group required">
                  <label class="col-form-label" for="paymentCategoriesFilter">
                    {{ "DefaultToPaymentAccount" | localize }}
                  </label>
                  <p-dropdown
                  id="fromPaymentAccounts"
                  name="fromPaymentAccounts"
                  [placeholder]="'PleaseSelect' | localize"
                  [options]="paymentAccounts"
                  [(ngModel)]="defaultPaymentAccountId"
                  [filter]="true"
                  [style]="{ width: '100%' }"
                  required
                >
                </p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <a
                  href="javascript:;"
                  class="btn bg-blue"
                  (click)="selectHousingPaymentPlans()"
                >
                  <i class="fa fa-plus-square"></i>
                  {{ "SelectHousingPaymentPlans" | localize }}
                </a>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <p-table
              #dataTable
              class="table table-hover text-nowrap"
              [value]="housingPaymentPlanGroups"
              [resizableColumns]="true"
              [autoLayout]="true"
              [busy]="isTableLoading"
              [lazy]="true"
              [loading]="isTableLoading"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="HousingPaymentPlanGroupName">
                    {{ "HousingPaymentPlanGroupName" | localize }}
                    <p-sortIcon
                      field="HousingPaymentPlanGroupName"
                    ></p-sortIcon>
                  </th>
                  <th>
                    {{ "HousingCategoryName" | localize }}
                  </th>
                  <th pSortableColumn="AmountPerMonth">
                    {{ "AmountPerMonth" | localize }}
                    <p-sortIcon field="AmountPerMonth"></p-sortIcon>
                  </th>
                  <th pSortableColumn="CountOfMonth">
                    {{ "CountOfMonth" | localize }}
                    <p-sortIcon field="CountOfMonth"></p-sortIcon>
                  </th>
                  <th pSortableColumn="PaymentDayOfMonth">
                    {{ "PaymentDayOfMonth" | localize }}
                    <p-sortIcon field="PaymentDayOfMonth"></p-sortIcon>
                  </th>
                  <th pSortableColumn="StartDate">
                    {{ "StartDate" | localize }}
                    <p-sortIcon field="StartDate"></p-sortIcon>
                  </th>
                  <th>{{ "Actions" | localize }}</th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                ngFor
                let-housingPaymentPlanGroup
                [ngForOf]="housingPaymentPlanGroups"
              >
                <tr>
                  <td>
                    {{ housingPaymentPlanGroup.housingPaymentPlanGroupName }}
                  </td>
                  <td>
                    {{
                      getHousingCategoryName(
                        housingPaymentPlanGroup.housingCategoryId
                      )
                    }}
                  </td>
                  <td>
                    {{
                      housingPaymentPlanGroup.amountPerMonth | number: "1.2-2"
                    }}
                  </td>
                  <td>{{ housingPaymentPlanGroup.countOfMonth }}</td>
                  <td>{{ housingPaymentPlanGroup.paymentDayOfMonth }}</td>
                  <td>
                    {{ getFormattedDate(housingPaymentPlanGroup.startDate) }}
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm bg-danger mx-2"
                      (click)="delete(housingPaymentPlanGroup)"
                    >
                      <i class="fas fa-trash"></i>
                      {{ "Delete" | localize }}
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div
              *ngIf="housingPaymentPlanGroups.length === 0"
              style="text-align: center"
            >
              {{ "NoDataFound" | localize }}
            </div>
          </div>
          <div class="card-footer text-right">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="
                !createPeriodForm.form.valid ||
                housingPaymentPlanGroups.length === 0 ||
                saving
              "
            >
              {{ "Save" | localize }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
