<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "AccountBooks" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <div class="btn-group dropdown" dropdown>
            <button dropdownToggle class="dropdown-toggle btn bg-blue">
              <i class="fa fa-plus-square"></i>
              {{"Create" | localize}}
            </button>
            <ul class="dropdown-menu" *dropdownMenu style="background-color:#007bff !important;">
              <li>
                <a class="dropdown-item" href="javascript:;" style="color: black;"
                  (click)="createHousingDueAccountBook()">{{'HousingDue' | localize}}</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;" style="color: black;"
                  (click)="createOtherPaymentAccountBook()">{{'OtherPayments' | localize}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input type="text" class="form-control" name="keyword" [placeholder]="'SearchWithThreeDot' | localize"
              [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)" />
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap" [busy]="isTableLoading">
            <thead class="bg-light">
              <tr>
                <th>{{ "ProcessDateTime" | localize }}</th>
                <th>{{ "PaymentCategoryName" | localize }}</th>
                <th>{{ "Housing" | localize }}</th>
                <th>{{ "Amount" | localize }}</th>
                <th>{{ "FromPaymentAccount" | localize }}</th>
                <th>{{ "ToPaymentAccount" | localize }}</th>
                <th>{{ "FromPaymentAccountBalance" | localize }}</th>
                <th>{{ "ToPaymentAccountBalance" | localize }}</th>
                <th style="width: 200px;">{{ "Actions" | localize }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let accountBook of accountBooks
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                ">
                <td>{{ accountBook.processDateTime.format('DD-MM-YYYY') }}</td>
                <td>{{ accountBook.paymentCategory.paymentCategoryName }}</td>
                <td>{{ accountBook.housing != null ? getHousingName(accountBook.housing) : '' }}</td>
                <td>{{ accountBook.amount | number:'1.2-2'}}</td>
                <td>{{ accountBook.fromPaymentAccount != null ? accountBook.fromPaymentAccount.accountName : '' }}</td>
                <td>{{ accountBook.toPaymentAccount != null ? accountBook.toPaymentAccount.accountName : '' }}</td>
                <td>
                  {{ (accountBook.fromPaymentAccount != null ? accountBook.fromPaymentAccount.balance   : '')  | number:'1.2-2'  }}
                </td>
                <td>
                  {{ (accountBook.toPaymentAccount != null ? accountBook.toPaymentAccount.balance : '')  | number:'1.2-2'  }}
                </td>
                <td>
                  <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(accountBook)">
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
