<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "AccountBooks" | localize }}</h1>
        </div>
        <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>

        <div
          class="col-6 text-right"
          *ngIf="this.permissionHelper.createAccountBook()"
        >
          <button
            type="button"
            class="btn bg-blue"
            pButton
            icon="fa fa-angle-down"
            [label]="'Create' | localize"
            (click)="menu.toggle($event)"
          ></button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-append">
              <button
                type="button"
                class="btn bg-blue"
                (click)="advancedFiltersVisible = !advancedFiltersVisible"
              >
                {{ "AdvancedFilters" | localize }}
                <i
                  class="fas"
                  [class.fa-angle-up]="advancedFiltersVisible"
                  [class.fa-angle-down]="!advancedFiltersVisible"
                ></i>
              </button>
            </div>
          </div>
          <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
            <div class="card-body">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "StartDate" | localize }}
                      </label>
                      <input
                        type="text"
                        id="startDateFilter"
                        name="startDateFilter"
                        [placeholder]="'StartDate' | localize"
                        class="form-control"
                        [(ngModel)]="startDateFilter"
                        bsDatepicker
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "EndDate" | localize }}
                      </label>
                      <input
                        type="text"
                        id="endDateFilter"
                        name="endDateFilter"
                        [placeholder]="'EndDate' | localize"
                        class="form-control"
                        [(ngModel)]="endDateFilter"
                        bsDatepicker
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "PaymentCategory" | localize }}
                      </label>
                      <p-multiSelect
                        name="paymentCategories"
                        [options]="paymentCategoriesFilter"
                        [showToggleAll]="false"
                        [(ngModel)]="selectedPaymentCategoriesFilter"
                        [virtualScroll]="true"
                        [filter]="true"
                        [itemSize]="34"
                        [defaultLabel]="l('PaymentCategory')"
                        class="multiselect-custom-virtual-scroll"
                        [style]="{ minWidth: '100%' }"
                      >
                        <ng-template let-paymentCategory pTemplate="item">
                          <div class="paymentCategory-item">
                            <div>{{ paymentCategory.label | localize }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "Housing" | localize }}
                      </label>
                      <p-multiSelect
                        name="housingsFilters"
                        [options]="housingsFilters"
                        [showToggleAll]="false"
                        [(ngModel)]="selectedHousingsFilters"
                        [virtualScroll]="true"
                        [filter]="true"
                        [itemSize]="34"
                        [defaultLabel]="l('Housing')"
                        class="multiselect-custom-virtual-scroll"
                        [style]="{ minWidth: '100%' }"
                      >
                        <ng-template let-housing pTemplate="item">
                          <div class="housing-item">
                            <div>{{ housing.label }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "Person" | localize }}
                      </label>
                      <p-multiSelect
                        name="peopleFilters"
                        [options]="peopleFilters"
                        [showToggleAll]="false"
                        [(ngModel)]="selectedPeopleFilters"
                        [virtualScroll]="true"
                        [filter]="true"
                        [itemSize]="34"
                        [defaultLabel]="l('Person')"
                        class="multiselect-custom-virtual-scroll"
                        [style]="{ minWidth: '100%' }"
                      >
                        <ng-template let-person pTemplate="item">
                          <div class="person-item">
                            <div>{{ person.label }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "FromPaymentAccount" | localize }}
                      </label>
                      <p-multiSelect
                        name="fromPaymentAccountsFilter"
                        [options]="fromPaymentAccountsFilter"
                        [showToggleAll]="false"
                        [(ngModel)]="selectedFromPaymentAccountsFilter"
                        [virtualScroll]="true"
                        [filter]="true"
                        [itemSize]="34"
                        [defaultLabel]="l('FromPaymentAccount')"
                        class="multiselect-custom-virtual-scroll"
                        [style]="{ minWidth: '100%' }"
                      >
                        <ng-template let-fromPaymentAccount pTemplate="item">
                          <div class="fromPaymentAccount-item">
                            <div>{{ fromPaymentAccount.label }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-label">
                        {{ "ToPaymentAccount" | localize }}
                      </label>
                      <p-multiSelect
                        name="toPaymentAccountsFilter"
                        [options]="toPaymentAccountsFilter"
                        [showToggleAll]="false"
                        [(ngModel)]="selectedToPaymentAccountsFilter"
                        [virtualScroll]="true"
                        [filter]="true"
                        [itemSize]="34"
                        [defaultLabel]="l('ToPaymentAccount')"
                        class="multiselect-custom-virtual-scroll"
                        [style]="{ minWidth: '100%' }"
                      >
                        <ng-template let-toPaymentAccount pTemplate="item">
                          <div class="toPaymentAccount-item">
                            <div>{{ toPaymentAccount.label }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn bg-blue"
                (click)="getDataPage(1)"
              >
                {{ "Search" | localize }}
              </button>
              <button
                type="button"
                class="btn btn-default float-right"
                (click)="clearFilters()"
              >
                {{ "Clear" | localize }}
              </button>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <p-table
            #dataTable
            class="table table-striped table-bordered"
            [value]="accountBooks"
            [resizableColumns]="true"
            [autoLayout]="true"
            [busy]="isTableLoading"
            (onLazyLoad)="getData($event)"
            [lazy]="true"
            [loading]="isTableLoading"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="ProcessDateTime">
                  {{ "ProcessDateTime" | localize }}
                  <p-sortIcon field="ProcessDateTime"></p-sortIcon>
                </th>
                <th pSortableColumn="PaymentCategoryName">
                  {{ "PaymentCategoryName" | localize }}
                  <p-sortIcon field="PaymentCategoryName"></p-sortIcon>
                </th>
                <th pSortableColumn="HousingName">
                  {{ "Housing" | localize }}
                  <p-sortIcon field="HousingName"></p-sortIcon>
                </th>
                <th pSortableColumn="Amount">
                  {{ "Amount" | localize }}
                  <p-sortIcon field="Amount"></p-sortIcon>
                </th>
                <th pSortableColumn="FromPaymentAccountName">
                  {{ "FromPaymentAccount" | localize }}
                  <p-sortIcon field="FromPaymentAccountName"></p-sortIcon>
                </th>
                <th pSortableColumn="ToPaymentAccountName">
                  {{ "ToPaymentAccount" | localize }}
                  <p-sortIcon field="ToPaymentAccountName"></p-sortIcon>
                </th>
                <th>
                  {{ "Images" | localize }}
                </th>
                <th style="width: 20%">{{ "Actions" | localize }}</th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              ngFor
              let-accountBook
              [ngForOf]="
                accountBooks
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      }
              "
            >
              <tr>
                <td>{{ accountBook.processDateTime.format("DD-MM-YYYY") }}</td>
                <td>
                  {{ accountBook.paymentCategoryName | localize }}
                  <span
                    *ngIf="accountBook.encashmentHousing"
                    class="font-italic font-weight-light"
                    >{{ "EncashmentShort" | localize
                    }}{{
                      " " + accountBook.encashmentHousingBlockApartment
                    }}</span
                  >
                </td>
                <td>{{ accountBook.housingName }}</td>
                <td>{{ accountBook.amount | number: "1.2-2" }}</td>
                <td>
                  <span *ngIf="accountBook.fromPaymentAccountName.length > 0">
                    {{ accountBook.fromPaymentAccountName }} /
                    {{
                      accountBook.fromPaymentAccountBalance | number: "1.2-2"
                    }}
                  </span>
                </td>
                <td>
                  <span *ngIf="accountBook.toPaymentAccountName.length > 0">
                    {{ accountBook.toPaymentAccountName }} /
                    {{ accountBook.toPaymentAccountBalance | number: "1.2-2" }}
                  </span>
                </td>
                <td class="text-center">
                  <i
                    class="far fa-file-image"
                    *ngIf="accountBook.accountBookFiles.length > 0"
                    (click)="showImages(accountBook.accountBookFiles)"
                  >
                  </i>
                </td>
                <td>
                  <button
                    type="button"
                    *ngIf="this.permissionHelper.editAccountBook()"
                    class="btn btn-sm bg-secondary mx-2"
                    (click)="editAccountBook(accountBook)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" | localize }}
                  </button>
                  <button
                    type="button"
                    *ngIf="this.permissionHelper.deleteAccountBook()"
                    class="btn btn-sm bg-danger mx-2"
                    (click)="delete(accountBook)"
                  >
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p-galleria
  [(value)]="accountBookFiles"
  [(visible)]="display"
  [responsiveOptions]="responsiveOptions2"
  [containerStyle]="{ 'max-width': '660px' }"
  [numVisible]="9"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [baseZIndex]="100000"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item"
      style="width: 100%; display: block; max-width: 660px; max-height: 660px"
    />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img
        [src]="item"
        style="display: block"
        style="max-width: 50px; max-height: 50px"
      />
    </div>
  </ng-template>
</p-galleria>
