<form class="form-horizontal" autocomplete="off" #addPersonForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'AddPerson' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row readonly">
          <label class="col-md-3 col-form-label" for="block">
            {{ "Block" | localize }}
          </label>
          <div class="col-md-9">
            <label class="col-md-3 col-form-label">
              {{ block.blockName }}
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="apartment">
            {{ "Apartment" | localize }}
          </label>
          <div class="col-md-9">
            <label class="col-md-3 col-form-label">
              {{ housing.apartment }}
            </label>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="apartment">
            {{ "Person" | localize }}
          </label>
          <div class="col-md-9">
            <p-dropdown id="people" name="people" [placeholder]="'PleaseSelect' | localize" [options]="people"
              [(ngModel)]="housingPerson.personId" [filter]="true" [style]="{'width':'100%'}" required>
            </p-dropdown>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "IsTenant" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="isTenant" id="isTenant"
                [(ngModel)]="housingPerson.isTenant" />
              <label class="custom-control-label mt-2" for="isTenant"></label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "ContactText" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="contact" id="contact"
                [(ngModel)]="housingPerson.contact" />
              <label class="custom-control-label mt-2" for="contact"></label>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!addPersonForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
