<form
  class="form-horizontal"
  autocomplete="off"
  #createPaymentCategoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="title"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="paymentCategoryName">
            {{ "PaymentCategoryName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="block"
              id="block"
              minlength="0"
              maxlength="50"
              [(ngModel)]="paymentCategory.paymentCategoryName"
              required
              #paymentCategoryNameModel="ngModel"
              #paymentCategoryNameEl
            />
            <abp-validation-summary
              [control]="paymentCategoryNameModel"
              [controlEl]="paymentCategoryNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required" *ngIf="housingDue">
          <label class="col-md-3 col-form-label" for="paymentCategoryName">
            {{ "AdditionalHousingDueType" | localize }}
          </label>
          <div class="col-md-9">
            <div class="p-field-radiobutton mb-1">
              <p-radioButton
                name="housingDueType"
                [value]="HousingDueTypeEnum.AdditionalHousingDueForResident"
                [(ngModel)]="paymentCategory.housingDueType"
                inputId="housingDueForResident"
                required
              ></p-radioButton>
              <label class="mb-0 ml-3" for="housingDueTypeForResident">{{
                "AdditionalHousingDueForResident" | localize
              }}</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="housingDueType"
                [value]="HousingDueTypeEnum.AdditionalHousingDueForOwner"
                [(ngModel)]="paymentCategory.housingDueType"
                inputId="housingDueTypeForOwner"
                required
              ></p-radioButton>
              <label class="mb-0 ml-3" for="housingDueTypeForOwner">{{
                "AdditionalHousingDueForOwner" | localize
              }}</label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "IsValidForAllPeriods" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="isValidForAllPeriods"
                id="isValidForAllPeriods"
                [(ngModel)]="paymentCategory.isValidForAllPeriods"
              />
              <label
                class="custom-control-label mt-2"
                for="isValidForAllPeriods"
              ></label>
            </div>
          </div>
        </div>
        <div
          class="form-group row required"
          *ngIf="
            paymentCategoryType === PaymentCategoryTypeEnum.Expense ||
            paymentCategoryType ===
              PaymentCategoryTypeEnum.TransferBetweenAccounts
          "
        >
          <label class="col-md-3 col-form-label" for="fromPaymentAccountId">
            {{ "DefaultFromPaymentAccount" | localize }}
          </label>
          <div class="col-md-6 pr-4">
            <p-dropdown
              id="fromPaymentAccounts"
              name="fromPaymentAccounts"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts"
              [(ngModel)]="paymentCategory.defaultFromPaymentAccountId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
          <div class="col-md-3">
            <span class="btn btn-danger">
              <i
                class="fas fa-trash-alt"
                (click)="paymentCategory.defaultFromPaymentAccountId = null"
              ></i>
            </span>
          </div>
        </div>
        <div
          class="form-group row required"
          *ngIf="
            paymentCategoryType === PaymentCategoryTypeEnum.Income ||
            paymentCategoryType ===
              PaymentCategoryTypeEnum.TransferBetweenAccounts
          "
        >
          <label class="col-md-3 col-form-label" for="toPaymentAccountId">
            {{ "DefaultToPaymentAccount" | localize }}
          </label>
          <div class="col-md-6 pr-4">
            <p-dropdown
              id="toPaymentAccounts"
              name="toPaymentAccounts"
              [placeholder]="'PleaseSelect' | localize"
              [options]="paymentAccounts"
              [(ngModel)]="paymentCategory.defaultToPaymentAccountId"
              [filter]="true"
              [style]="{ width: '100%' }"
              required
            >
            </p-dropdown>
          </div>
          <div class="col-md-3">
            <span class="btn btn-danger">
              <i
                class="fas fa-trash-alt"
                (click)="paymentCategory.defaultToPaymentAccountId = null"
              ></i>
            </span>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="
      !createPaymentCategoryForm.form.valid ||
      saving ||
      !this.permissionHelper.createPaymentCategory()
    "
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
