<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "PaymentAccounts" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <div class="btn-group dropdown" dropdown>
            <button dropdownToggle class="dropdown-toggle btn bg-blue">
                <i class="fa fa-plus-square"></i>
                {{"Create" | localize}}
            </button>
            <ul class="dropdown-menu" *dropdownMenu>
                <li>
                    <a href="javascript:;"
                        (click)="createPaymentAccount(paymentAccountTypeEnum.Cash)">{{'CashAccount' | localize}}</a>
                </li>
                <li>
                    <a href="javascript:;" 
                        (click)="createPaymentAccount(paymentAccountTypeEnum.BankAccount)">{{'BankAccount' | localize}}</a>
                </li>
                <li>
                    <a href="javascript:;" 
                        (click)="createPaymentAccount(paymentAccountTypeEnum.AdvanceAccount)">{{'AdvanceAccount' | localize}}</a>
                </li>													
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                type="button"
                class="btn bg-blue"
                (click)="getDataPage(1)"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input
              type="text"
              class="form-control"
              name="keyword"
              [placeholder]="'SearchWithThreeDot' | localize"
              [(ngModel)]="keyword"
              (keyup.enter)="getDataPage(1)"
            />
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap" [busy]="isTableLoading">
            <thead class="bg-light">
              <tr>
                <th>{{ "AccountName" | localize }}</th>
                <th>{{ "PaymentAccountType" | localize }}</th>
                <th>{{ "Balance" | localize }}</th>
                <th>{{ "TenantIsOwner" | localize }}</th>
                <th style="width: 200px;">{{ "Actions" | localize }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let paymentAccount of paymentAccounts
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                "
              >
                <td>{{ paymentAccount.accountName }}</td>
                <td>{{ paymentAccountTypeEnum[paymentAccount.paymentAccountType]}}</td>
                <td>{{ paymentAccount.balance | number:'1.2-2' }}</td>
                <td>{{ paymentAccount.tenantIsOwner ? 'Evet' : 'Hayır' }}</td>
                <td>
                  <!-- <button
                    type="button"
                    class="btn btn-sm bg-secondary"
                    (click)="editPaymentAccount(paymentAccount)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" | localize }}
                  </button> -->
                  <button
                    type="button"
                    class="btn btn-sm bg-danger mx-2"
                    (click)="delete(paymentAccount)"
                  >
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
