<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "PaymentAccounts" | localize }}</h1>
        </div>
        
        <p-menu #menu [popup]="true" [model]="items"></p-menu>

        <div
          class="col-6 text-right"
          *ngIf="this.permissionHelper.createPaymentAccount()"
        >
          <button
            type="button"
            class="btn bg-blue"
            pButton
            icon="fa fa-arrow-down"
            [label]="'Create' | localize"
            (click)="menu.toggle($event)"
          ></button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <p-table
            #dataTable
            class="table table-striped table-bordered"
            [value]="paymentAccounts"
            [resizableColumns]="true"
            [autoLayout]="true"
            [busy]="isTableLoading"
            (onLazyLoad)="getData($event)"
            [lazy]="true"
            [loading]="isTableLoading"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="AccountName">
                  {{ "AccountName" | localize }}
                  <p-sortIcon field="AccountName"></p-sortIcon>
                </th>
                <th>
                  {{ "PaymentAccountName" | localize }}
                </th>
                <th pSortableColumn="Balance">
                  {{ "Balance" | localize }}
                  <p-sortIcon field="Balance"></p-sortIcon>
                </th>               
                <th pSortableColumn="TenantIsOwner">
                  {{ "TenantIsOwner" | localize }}
                  <p-sortIcon field="TenantIsOwner"></p-sortIcon>
                </th>
                <th>{{ "Actions" | localize }}</th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              ngFor
              let-paymentAccount
              [ngForOf]="
                paymentAccounts
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      }
              "
            >
              <tr>
                <td>{{ paymentAccount.accountName }}</td>
                <td>
                  {{
                    paymentAccountTypeEnum[paymentAccount.paymentAccountType]
                      | localize
                  }}
                </td>
                <td>{{ paymentAccount.balance | number: "1.2-2" }}</td>             
                <td>
                  {{ (paymentAccount.tenantIsOwner ? "Yes" : "No") | localize }}
                </td>
                <td>
                  <button
                    type="button"
                    *ngIf="this.permissionHelper.editPaymentAccount()"
                    class="btn btn-sm bg-secondary"
                    (click)="editPaymentAccount(paymentAccount)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" | localize }}
                  </button>
                  <button
                    type="button"
                    *ngIf="this.permissionHelper.deletePaymentAccount()"
                    class="btn btn-sm bg-danger mx-2"
                    (click)="delete(paymentAccount)"
                  >
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
