<form
  class="form-horizontal"
  autocomplete="off"
  #accountActivitiesForm="ngForm"
>
  <abp-modal-header
    [title]="'AccountActivities' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row readonly">
          <label class="col-md-3 col-form-label" for="block">
            {{ "BlockAndApartment" | localize }}
          </label>
          <div class="col-md-9">
            <label class="col-md-3 col-form-label">
              {{ block.blockName + ' / ' + housing.apartment }}
            </label>
          </div>
        </div>

        <section class="content px-2">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body table-responsive p-0">
                <p-table
                  #dataTable
                  class="table table-hover text-nowrap"
                  [value]="housingPaymentPlans"
                  [resizableColumns]="true"
                  [autoLayout]="true"
                  [busy]="isTableLoading"
                  (onLazyLoad)="getData($event)"
                  [lazy]="true"
                  [loading]="isTableLoading"
                  [paginator]="true" 
                  [rows]="10" 
                  [totalRecords]="totalRecords"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="date">
                        {{ "Date" | localize }}
                        <p-sortIcon field="date"></p-sortIcon>
                      </th>
                      <th pSortableColumn="paymentPlanType">
                        {{ "PaymentPlanType" | localize }}
                        <p-sortIcon field="paymentPlanType"></p-sortIcon>
                      </th>
                      <th pSortableColumn="paymentCategory.paymentCategoryName">
                        {{ "PaymentCategory" | localize }}
                        <p-sortIcon field="paymentCategory.paymentCategoryName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="amount">
                        {{ "Amount" | localize }}
                        <p-sortIcon field="amount"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-housingPaymentPlan>
                    <tr>
                      <td>
                        {{ housingPaymentPlan.date.format("DD-MM-YYYY") }}
                      </td>
                      <td>
                        {{
                          (housingPaymentPlan.paymentPlanType ==
                          paymentPlanTypeEnum.Debt
                            ? "DebtTextForHousingPaymentPlan"
                            : "CreditTextForHousingPaymentPlan"
                          ) | localize
                        }}
                      </td>
                      <td>
                        {{
                          housingPaymentPlan.paymentCategory.paymentCategoryName | localize
                        }}
                      </td>
                      <td>{{ housingPaymentPlan.amount | number: "1.2-2" }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft">
                    <p class="mb-0 my-2">
                      {{ "TotalRecordsCount" | localize: totalRecords }}
                    </p>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </section>
      </tab>
    </tabset>
  </div>
</form>
