<form
  class="form-horizontal"
  autocomplete="off"
  #accountActivitiesForm="ngForm"
>
  <abp-modal-header
    [title]="'AccountActivities' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row readonly">
          <label class="col-md-3 col-form-label" for="block">
            {{ "BlockAndApartment" | localize }}
          </label>
          <div class="col-md-9">
            <label class="col-md-3 col-form-label">
              {{ block.blockName + " / " + housing.apartment }}
            </label>
          </div>
        </div>

        <section class="content px-2">
          <div class="container-fluid">
            <div class="card">
              <div class="card-header">
                <div class="input-group">
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn bg-blue"
                      (click)="advancedFiltersVisible = !advancedFiltersVisible"
                    >
                      {{ "AdvancedFilters" | localize }}
                      <i
                        class="fas"
                        [class.fa-angle-up]="advancedFiltersVisible"
                        [class.fa-angle-down]="!advancedFiltersVisible"
                      ></i>
                    </button>
                  </div>
                </div>
                <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label">
                              {{ "StartDate" | localize }}
                            </label>
                            <input
                              type="text"
                              id="startDateFilter"
                              name="startDateFilter"
                              [placeholder]="'StartDate' | localize"
                              class="form-control"
                              [(ngModel)]="startDateFilter"
                              bsDatepicker
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label">
                              {{ "EndDate" | localize }}
                            </label>
                            <input
                              type="text"
                              id="endDateFilter"
                              name="endDateFilter"
                              [placeholder]="'EndDate' | localize"
                              class="form-control"
                              [(ngModel)]="endDateFilter"
                              bsDatepicker
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label">
                              {{ "CreditOrDebt" | localize }}
                            </label>
                            <p-multiSelect
                              name="creditOrDebtFilter"
                              [options]="creditOrDebtsFilter"
                              [showToggleAll]="false"
                              [(ngModel)]="selectedCreditOrDebtFilter"
                              [virtualScroll]="true"
                              [filter]="true"
                              [itemSize]="34"
                              [defaultLabel]="l('CreditOrDebt')"
                              class="multiselect-custom-virtual-scroll"
                              [style]="{ minWidth: '100%' }"
                            >
                            </p-multiSelect>
                            <ng-template let-creditOrDebt pTemplate="item">
                              <div class="creditOrDebt-item">
                                <div>{{ creditOrDebt.label | localize }}</div>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label">
                              {{ "PaymentCategory" | localize }}
                            </label>
                            <p-multiSelect
                              name="paymentCategories"
                              [options]="paymentCategoriesFilter"
                              [showToggleAll]="false"
                              [(ngModel)]="selectedPaymentCategoriesFilter"
                              [virtualScroll]="true"
                              [filter]="true"
                              [itemSize]="34"
                              [defaultLabel]="l('PaymentCategory')"
                              class="multiselect-custom-virtual-scroll"
                              [style]="{ minWidth: '100%' }"
                            >
                              <ng-template let-paymentCategory pTemplate="item">
                                <div class="paymentCategory-item">
                                  <div>
                                    {{ paymentCategory.label | localize }}
                                  </div>
                                </div>
                              </ng-template>
                            </p-multiSelect>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label">
                              {{ "HousingPaymentPlanType" | localize }}
                            </label>
                            <p-multiSelect
                              name="housingPaymentPlanTypesFilter"
                              [options]="housingPaymentPlanTypeFilter"
                              [showToggleAll]="false"
                              [(ngModel)]="
                                selectedHousingPaymentPlanTypesFilter
                              "
                              [virtualScroll]="true"
                              [filter]="true"
                              [itemSize]="34"
                              [defaultLabel]="l('HousingPaymentPlanType')"
                              class="multiselect-custom-virtual-scroll"
                              [style]="{ minWidth: '100%' }"
                            >
                              <ng-template
                                let-housingPaymentPlanType
                                pTemplate="item"
                              >
                                <div class="housingPaymentPlanType-item">
                                  <div>
                                    {{
                                      housingPaymentPlanType.label | localize
                                    }}
                                  </div>
                                </div>
                              </ng-template>
                            </p-multiSelect>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn bg-blue"
                      (click)="getData()"
                    >
                      {{ "Search" | localize }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-default float-right"
                      (click)="clearFilters()"
                    >
                      {{ "Clear" | localize }}
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <p-table
                  #dataTable
                  class="table table-striped table-bordered"
                  [value]="housingPaymentPlans"
                  [resizableColumns]="true"
                  [autoLayout]="true"
                  [busy]="isTableLoading"
                  (onLazyLoad)="getData($event)"
                  [lazy]="true"
                  [loading]="isTableLoading"
                  [paginator]="true"
                  [rows]="10"
                  [totalRecords]="totalRecords"
                >
                  <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                      <button
                        class="btn-success mr-2"
                        (click)="exportExcel()"
                        pTooltip="XLS"
                        tooltipPosition="bottom"
                      >
                        <i class="fas fa-file-excel"></i>
                      </button>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="date">
                        {{ "Date" | localize }}
                        <p-sortIcon field="date"></p-sortIcon>
                      </th>
                      <th pSortableColumn="creditOrDebt">
                        {{ "CreditOrDebt" | localize }}
                        <p-sortIcon field="creditOrDebt"></p-sortIcon>
                      </th>
                      <th pSortableColumn="paymentCategory.paymentCategoryName">
                        {{ "PaymentCategory" | localize }}
                        <p-sortIcon
                          field="paymentCategory.paymentCategoryName"
                        ></p-sortIcon>
                      </th>
                      <th pSortableColumn="housingPaymentPlanType">
                        {{ "HousingPaymentPlanType" | localize }}
                        <p-sortIcon field="housingPaymentPlanType"></p-sortIcon>
                      </th>
                      <th pSortableColumn="amount">
                        {{ "Amount" | localize }}
                        <p-sortIcon field="amount"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-housingPaymentPlan>
                    <tr>
                      <td>
                        {{ housingPaymentPlan.date.format("DD-MM-YYYY") }}
                      </td>
                      <td>
                        {{
                          creditOrDebtEnum[housingPaymentPlan.creditOrDebt]
                            | localize
                        }}
                      </td>
                      <td>
                        {{
                          housingPaymentPlan.paymentCategory
                            ? (housingPaymentPlan.paymentCategory
                                .paymentCategoryName | localize)
                            : ""
                        }}
                      </td>
                      <td>
                        {{
                          housingPaymentPlanTypeEnum[
                            housingPaymentPlan.housingPaymentPlanType
                          ] | localize
                        }}
                      </td>
                      <td>{{ housingPaymentPlan.amount | number: "1.2-2" }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft">
                    <p class="mb-0 my-2">
                      {{ "TotalRecordsCount" | localize: totalRecords }}
                    </p>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </section>
      </tab>
    </tabset>
  </div>
</form>
